
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/*  shared styles */

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}


/* header related styles */

.container-section{
    /* background-color: aqua; */
    max-width: 1140px;
    margin: 120px auto;
    align-items: flex-end;
}

.container{
    margin-top: 162px;
    width: 570px;
}
.hero-img{
    margin-top: 106px;
    width: 570px;
    margin-bottom: 0px;
   
}

/* our plants related styles */

.section-plant{
    width: 1140px;
    margin: 120px auto;
}





















/* 

.container-section {
    background-color: aqua;
    max-width: 1140px;
    margin: 120px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.container {
    margin-top: 162px;
    width: 570px;
}

.hero-img {
    margin-top: 106px;
    width: 570px;
 
}

.hero-img img {
    width: 100%;
    height: auto;
}
 */


